<app-header></app-header>
<div class="content"> 
    <div class="body">
        <div class="card">
            <canvas  id="MyChart" >{{ chart }}</canvas>
            <h3>Transactions History</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui perspiciatis facilis pariatur ducimus facere ad architecto similique libero dolores labore cum saepe impedit maiores illum, fugiat ea amet. Labore, repudiandae.</p>
        </div>
        <div class="card">
            <img src="../../../../assets/img.png" alt="">
            <h3>Main Expenses</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa atque ullam enim blanditiis cupiditate doloremque nulla officia. Ex voluptatem, dicta veritatis itaque, provident magni dolorum atque, tempora non enim impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsum magnam atque maxime molestiae, culpa dignissimos eum velit, pariatur reiciendis nam eos aperiam recusandae quibusdam? Quae consectetur vel dignissimos odit!</p>
        </div>
        <div class="card">
            <h3>Current Balance</h3>
            <div style="overflow: scroll; width: 100%; height: 400px;">
                <table>
                    <thead>
                      <tr>
                        <th>Account No.</th>
                        <th>Balance</th>
                        <th>Date of Latest Transfer</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of balance">
                            <td>{{account.account}}</td>
                            <td>${{account.total}}</td>
                            <td>{{account.lastTransferDate}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>